@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url("../images/animals-985500__480.jpg");
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
}

#myButtons {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    border: 20px;
    font-family: 'Indie Flower', cursive;
    display: #6f9fd8;
}

.navbar {
    width:35%;
    margin-left: 820px;
  }

  .pix {
      width: 30%;
      display: inline-block;
      flex-wrap: wrap;

  }
